#menu{
    width: 300px;
    height: 100vh;
    background: #fff;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.65);
    position: fixed;
    top: 0px;
    right: 0px;
    transform: translateX(400px);
transition-property: all;
    transition-duration: 0.8s;
    transition-timing-function: linear;
}


.ver_menu{
    transform: translateX(0px) !important; 
}


/* ### dp-btn-hamb2 ### */
:root{
    --dp-btn-hamb2-color: #222;
}
.dp-btn-hamb2{
    position: fixed;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;  
}
.dp-btn-hamb2-div::after, .dp-btn-hamb2-div::before,.dp-btn-hamb2-div{
    position: absolute;
    width: 100%;
    height: 15%; 
    background: var(--dp-btn-hamb2-color);
    content: '';
    transition: 0.6s;
}
.dp-btn-hamb2-div::after{
    top: 10px;
    height: 100%;
}
.dp-btn-hamb2-div::before{
    top: -10px;
    height: 100%;
}
.dp-btn-close1{
    transition: 0.6s;
    transform: rotateZ(45deg);
}
  .dp-btn-close1::before{
    transition: 0.6s;
    top: 0px;
    transform: rotateZ(90deg);
}
  .dp-btn-close1::after{
    transition: 0.6s;
    top: 0px;
    transform: rotateZ(0deg);
}
/* ### fin dp-btn-hamb2 ### */ 
 